.main {
  position: relative;
  min-height: 100svh;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 32px;
}

@media (min-width: 1024px) {
  .main {
    padding-bottom: 60px;
  }
}
